:root{
    --green: #008a20;
    --active-green: #01a628;
    --active-white: #f5f5f5;
    --border-color: #b3b3b3;
    --white: white;
}

body{
    margin: 0;
    padding: 0;
}
.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* border: 10px solid #211012; */
    width: 100%;
    margin: auto;
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.graph-command{
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.actionCommand{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0px 6px;
    margin: 4px 4px;
    max-height: max-content;
    max-width: max-content;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}
.actionCommand:hover{
    background-color: var(--active-white);
}
.actionCommand.active{
    color: var(--white);
    background-color: var(--active-green);
    border-color: var(--active-green);
}
.actionCommand.active:hover{
    background-color: var(--green);
    border-color: var(--green);
}
.graph-container{
    /* border: 1px solid blue; */
    flex: 18;
}

.graph-node{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green);
    background-color: var(--active-green);
    color: var(--white);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--white);
    user-select: none;
}
.graph-node:hover{
    scale: .98;
    background-color: var(--active-green);
}